/*returnTop 返回顶部*/
.return_top_wrapper {
    height: 65px;
    position: fixed;
    right: 0;
    z-index: 298;
    _position: absolute;
    _bottom: auto;
    overflow: hidden;
    display: none;
}

.return_top_wrapper div {
    height: 65px;
    width: 50px;
}

.return_top_wrapper a {
    position: absolute;
    height: 65px;
    width: 50px;
    top: 0;
}

.return_top_wrapper a.return_top_static {
    background: url("/images/modules/returntop/returntop.png") no-repeat;
    left: 0;
}

.return_top_wrapper a.return_top_running {
    background: url("/images/modules/returntop/returntop.png") no-repeat;
    position: absolute;
    left: -50px;
}