<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans.xsd        http://code.alibabatech.com/schema/dubbo        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="biservice-app"  />
    <!-- 缺省使用multicast广播注册中心暴露服务地址 -->
    <!--<dubbo:registry id="defaultBi" address="multicast://224.5.6.7:1234" />-->

    <!--如果是在阿里云环境里面，请使用zookeeper进行注册-->
    <!--<dubbo:registry id="defaultBi" address="zookeeper://redis.local.gene:2181" />-->
    <!--如果是在没有安装zookeeper，同时局域网之间子网掩码互相不能覆盖的情况，也可以使用redis2协议来进行注册。比如-->
    <dubbo:registry id="defaultBi" address="redis2://redis.local.gene:6379" />

    <!-- 用dubbo协议在20880端口暴露服务 有双网卡的注意绑定 host="内网IP"-->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.chinaedustar.dubbo.service.DubboBiService" ref="dubboBiService" registry="defaultBi"/>
    <!-- 和本地bean一样实现服务 -->
    <bean id="dubboBiService" class="com.chinaedustar.fcs.bi.service.DubboBiServiceImpl" />
</beans>

