<html>
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js" ></script>
    <script type="text/javascript" src="/static/js/demo.js" ></script>
</head>
<body>
<h1>Requests</h1>
<form name="myform" action="/index/" method="POST" enctype="multipart/form-data" >
    File:<input type="file" id="file" name="file">
    <input type="submit" name="submit" value="Upload">
</form>
<input type="button" id="button1" value="原生Ajax上传">
<input type="button" id="button2" value="jQuey_Ajax上传">
</body>

</html>